
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
	margin-top: 0;
	

}

#section0{ background-image: url("../Images/Zeichenfläche\ 1.svg"); background-repeat:no-repeat; background-position:right; background-size:100% auto;}
#section1 {   background-image: url("../Images/Zeichenfläche\ 2.svg"); background-repeat:no-repeat; background-size: 100% auto;}
#section2 {  background-image: url("../Images/Zeichenfläche\ 3.svg"); background-repeat:no-repeat; background-position:right; background-size: 100% auto;}
#section3 { background:#ffffff;}
#section4 { background-image: url("../Images/dreieck_medium_bam.png"); background-repeat:no-repeat; background-size: cover;}


a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    color:rgb(0, 0, 0);
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

p{
	font-size: 2em;
}
.intro p{
	width: 100%;
	
}

.studiep{
margin-top:7em;


}
.section{
	text-align:left;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}



.layoutstart{
	margin-left: 5em;
	margin-top:8em;

}
 

/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 3.5em;
		font-family:'Roboto';
		font-weight: 700;
		color:#083f77;
		
		
	
		
	}

	#title{
		font-size: 5em;

line-height:1em;}

#subtitle{
	font-size: 1.5em;
		font-family:'Montserrat'; font-weight:bold;
		font-weight: 500;
		color:#FFC100;
		margin-top:1.5em;
		
}
	

	h2{
		font-size: 1.5em;
		font-family:'Montserrat'; font-weight: bold;
		font-weight:500;
		color: rgb(69, 69, 69);
		margin-top:1em;
	
	}



	#bubble{

		background-image: url("../Images/bubble_small5.svg"); background-repeat:no-repeat; margin-top: 0em; background-size: 86% auto;}
	
		#bubblep{
			margin: 1em;
			color: white;
		}

	#Person1{
		height: 20em;
		width:auto;
		margin-left:5em;
		
	}	
	/* --------------------------------------- */
	
	


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	.chartlayout{

		width: 100%;
		max-width:auto;
		height: 80vh;
      	max-height: 80%;
    	font-size: 15px;
        background-color: #ffffff;
		overflow: auto;
		margin-top:0.5em;
		font-family:'Montserrat';font-weight: 300;


	}

	#chartdiv3 {
	   margin-left:10em;
        
	}

	#chartdiv3_1, #chartdiv3_2{
		max-height: 30%;
		height: 40vh;


	}

	#chartdiv4, #chartdiv6{
		width: 120%;
        max-width:50em;
      max-height:50em ;
      height: 60vh;}
      

	 #chartdiv5, #chartdiv7{

		width: 150%;
        max-width:50em;
      max-height:50em ;
      height: 60vh;
	 }
	
	 #chartdiv10 {
		width: 100%;
        max-width:600px;
      max-height: 400px;
      height: 100vh;
        
	 }

	 #chartdiv11, #chartdiv12 {
		width: 100%;
        max-width:700px;
      max-height: 500px;
      height: 60vh;
        font-size: 15px;
        background-color: #ffffff;
		overflow: hidden;	 
	 }
	 #chartdiv13 {
		width: 100%;
        max-width:700px;
      max-height: 420px;
      height: 80vh;
        font-size: 15px;
        background-color: #ffffff;
		overflow: hidden;	 
	 }
	 #chartdiv14 {
		width: 100%;
        max-width:700px;
      max-height: 420px;
      height: 80vh;
        font-size: 15px;
        background-color: #ffffff;
		overflow: hidden;	 
	 }

	
	.intro{
		max-height: 80%;
		margin-top:3em;
		text-align:left;
	
		margin-right:7em;
		margin-left: 10em;
	


	}

	.intro p{
		color: rgb(17, 17, 17);
		font-size: 1.1em;
		margin-top:1em;
		text-align:left;
		font-family:'Montserrat'; font-weight: 300;

	}

	#introchart{

		text-align:left;
		margin-left:2em;
		margin-right:4em;
	}

	

	.textbottom{
		top:35em;
		margin-top:2em;
	}

	.textwithoutmargin{
		margin-top:1em;

	}

		

	.fp-controlArrow.fp-prev{
		top:10.5em;
		left:50px;
		border-color: transparent #ffc100  transparent transparent;
	  
		border-width: 20px 20px 20px 0;
		
	}
	
	.fp-controlArrow.fp-next{
		top:10.5em;
		right:70px;
		border-color: transparent transparent transparent #ffc100;
		border-width: 20px 0 20px 20px;
		}
	

		#fp-nav ul li .fp-tooltip{
    color:#083f77;
}


#fp-nav ul li a span,.fp-slidesNav ul li a span:hover{

    background:#083f77;
}


#vorteil2 {
	display: none;
  }

  #caption2 {
	display: none;

  }


  #diagramm2 {
	display: none;
  }


  #test2 {
	display: none;
  }


  .btn.btn-lg:focus{
	background-color:#F8A091;
  
	


  }

  .btn.btn-lg{

	background-color:#ffffff;
	border-color:#DB7261;
	font:#000000;
	font-family: 'Open Sans'; 
	margin-bottom:3%;
	margin-right:10%;

	   }
	   
.btn.btn-lg:hover{
	 background-color:#F8A091;;
	border-color:#DB7261;
	font-family: 'Open Sans'; 
	
}


#verschenken{

background-color:#63A3E0;;
border-color:#63A3E0;

}

#verkaufen{

	background-color:#216FB9;;
	border-color:#216FB9;
	
	
	}


.studie-img{
	margin-left:15%;  
   margin-top:5em;    }


   .startseite-img{
    position: absolute;
    bottom: 0em;
    left: 30em;
    right: 10em;
    margin: auto;
    justify-content: center;
}
.dhbw {
    position:absolute;
   
    color:#063567;
	font-family: 'Open Sans'; font: weight 300; 
}

.logo-img{
    position:absolute;
    bottom:4%;
 }

 a:link{
	 color:rgb(4, 98, 92);
 }
 a:visited {  color:rgb(4, 98, 92);
}
	

.verschenkebuttons{
float:right;
top:15em;

}

#welcomebutton{
	background-color:#ffc100;
	margin-top:8em;
	font-family: 'Montserrat';font-weight: 600;

}

#buttonverkauf{

	color:#fff;
	background-color:#216FB9;
	border-color:#216FB9;
	
}

#buttonkauf{

	color:#fff;
	background-color:#063567;;
	border-color:#063567;
}

#altersklasse{

	color:#fff;
	background-color:#B6D8F7;;
	border-color:#B6D8F7;
}

#geschlecht{

	color:#fff;
	background-color:#B6D8F7;;
	border-color:#B6D8F7;
}